name: Trivy Hybrid Scan internalDemo2

on:
  push:
    branches:
      - internalDemo2

jobs:
  trivy-hybrid-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        run: |
          docker build -t myapp:latest .

      # Step 4: Save the Docker image as a TAR file
      - name: Save Docker image as TAR file
        run: |
          docker save -o output.tar myapp:latest
          tar -tf output.tar

      - name: Run Trivy scan
        uses: cloudbees-io-gha/trivy-scan-publish@v1
        with:
          binary-tar-path: output.tar
          cloudbees-pat: ${{ secrets.CLOUDBEES_PROD_PAT }}
